.menuItem {
  background-color: #fff; /* Card background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow for depth */
  border-radius: 10px; /* Rounded corners for the card */
  overflow: hidden; /* Ensures the content fits within the rounded corners */
  width: 300px; /* Fixed width, but can be responsive based on your design */
  margin: 10px; /* Margin around each card */
  text-align: center; /* Center text and content */
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Arrange children in a column */
  justify-content: space-between; /* Space between content and button */
  height: 100%; /* Full height to encapsulate content and button */
}

.menuItem h3 {
  background-color: #f2f2f2; /* Light grey background for the title */
  margin: 0; /* Remove default margin */
  padding: 15px; /* Padding for the title */
}

.menuItem img {
  width: auto; /* Make image take up full card width */
  height: auto; /* Keep image aspect ratio */
  display: block; /* Ensures no extra space below the image */
  object-fit: cover; /* Cover the entire card with the image prevents to distort image */
  aspect-ratio: 2 / 1; /* Maintain a aspect ratio */
}

.menuItemBtnContainer {
  display: flex;
}

.menuItemDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.menuItemDetail h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.menuItemDetail h2 {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0 10px;
}

.menuItemDetail p {
  font-size: 1.2em;
  margin: 5px 0;
}

.menuItemDetail ul {
  list-style-type: none;
  padding: 0;
}

.menuItemDetail ul li {
  font-size: 1.2em;
  margin: 5px 0;
}

.menuItemDetail button {
  width: 200px;
  border-radius: 5px;
}

.image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin: 20px 0;
}

.menuItemDetail a {
  color: #007bff;
  text-decoration: none;
}

.menuItemDetail a:hover {
  text-decoration: underline;
}