.button {
  background-color: #2e93ff; /* Example button color */
  color: white; /* Text color for the button */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Padding inside the button */
  text-transform: uppercase; /* Stylistic choice for uppercase text */
  font-weight: bold; /* Bold font for button text */
  cursor: pointer; /* Change cursor to pointer on hover */
  width: 100%; /* Make the button as wide as the card */
  border-bottom-left-radius: 10px; /* Match the card's bottom left radius */
  border-bottom-right-radius: 10px; /* Match the card's bottom right radius */
  transition: background-color 0.3s; /* Smooth transition for hover effect */

  &:hover {
    background-color: #0056b3;
  }
}

.selected {
  background-color: #f03636;

  &:hover {
    background-color: #d90909;
  }
}