.project-bg {
    background: slategray;
    min-height: 100vh;
    font-family: monospace;
    color: aliceblue;
    padding: 5px 30px;
  
    h1 {
      font-size: 32px;
      margin: 5px 0;
      text-align: center;
    }
    h2 {
      font-size: 20px;
      margin: 5px 0;
      text-align: center;
    }
    p {
      text-align: center;
      margin: 5px 30px;
    }
    p ul {
      text-align: left;
    }
  
    a {
      font-size: 17px;
      display: inline-block;
    }
  
    input {
      margin: 0px 5px;
    }
  
    & > div {
      padding: 15px;
    }
  
    nav {
      background-color: #333;
      padding: 5px 0px;
    }
  
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
  
    nav ul li {
      margin: 0;
    }
  
    nav ul li a {
      color: white;
      text-decoration: none;
      padding: 10px 15px;
      display: block;
    }
  
    nav ul li a:hover {
      background-color: #575757;
      border-radius: 4px;
    }
  
    pre {
      margin: 15px 0;
      background-color: #151414bf;
      color: #cccccc;
      border: 2px solid rgba(13, 137, 220, 0.893);
      padding: 5px;
      display: inline-block;
      padding: 15px;
      border-radius: 8px;
    }
  }
  
  .notifications {
    position: fixed;
    right: 0;
    top: 0;
    & > div {
      width: 150px;
      padding: 10px;
      margin: 5px;
      color: black;
      font-size: 0.5em;
      background: lightblue;
      border-radius: 5px;
      border: 1px solid darkslategray;
      transform: translateX(200%);
      animation: slide-in 0.3s forwards;
      &:hover {
        background: rgb(108, 178, 201);
        cursor: pointer;
      }
    }
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(200%);
    }
    to {
      transform: translateX(0);
    }
  }
  