.popUp {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}