.button {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding-inline: 30px;
  padding-block: 20px;

  &:hover {
    background-color: #f0f0f0;
    color: black;
    border: none;
  }
}